@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

html {
    font-family: "Roboto", sans-serif;
    background: url("../images/main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* header {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */


.nav {
    border-bottom: 1px solid #EAEAEB;
    text-align: right;
    height: 70px;
    line-height: 70px;
}
.menu {
    margin: 0 30px 0 0;
}
.menu a {
    clear: right;
    text-decoration: none;
    color: gray;
    margin: 0 10px;
    line-height: 70px;
    font-size: 30px;
}

/* li,
a {
    margin: 0 10px;
    color: #edf0f1;
    text-decoration: none;
} */

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}
#toggle {
    display: none;
}


/* 
.menu li {
    display: inline-block;
    padding: 0px 20px;
}

.menu li a {
    transition: all 0.3s ease 0s;
}

.menu li a:hover {
    color: #0088a9;
} */

footer {
    position: absolute;
    bottom: 0;
    font-size: 20px;
    color: #c6a793;
}

@media only screen and (max-width: 760px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
     
    }
    #toggle:checked + .menu {
        display: block;
    }
    
    
}