@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

html {
    font-family: "Roboto", sans-serif;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("../images/main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0;
}

#container {
    margin: 0 auto;
    width: 95%;
    display: flex;
}

.page-title {
    font-size: 50px;
    color: #EAE7DC;
    flex: 1;
}

.nav {
    border-bottom: 1px solid #EAEAEB;
    text-align: right;
    max-width: max-content;
    height: 70px;
    line-height: 70px;
    flex: 2;
}

.page-title h3 {
    font-weight: 200;
    padding: 0.2em;
    margin: 0.1em;
}

.page-title p {
    font-weight: 100;
    font-size: 0.7em;
    padding: 0.5em;
    margin: 0.1em;
}

.menu {
    margin: 0 10px 0 0;
}

.menu a {
    clear: right;
    text-decoration: none;
    color: #C8C8C8;
    margin: 0 10px;
    line-height: 70px;
    font-size: 26px;
}

label {
    margin: 0 40px 0 0;
    font-size: 36px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
    color: #C8C8C8;
}

#toggle {
    display: none;

}

footer {
    position: absolute;
    bottom: 0;
    font-size: 20px;
    color: #c6a793;
}

@media only screen and (max-width: 1023px) {

    html {
        background-position-x: 25%;
    }

    label {
        display: block;
        cursor: pointer;
    }

    #container {
        justify-content: space-between;
    }

    .page-title {
        max-width: 240px;
    }

    .nav {
        border-bottom: none;
    }

    .menu {
        text-align: center;
        width: 200px;
        display: none;
    }

    .menu a {
        display: block;
        margin: 0;
    }

    #toggle:checked+.menu {
        display: block;
    }
}

@media only screen and (max-width: 400px) {


    .page-title {
        writing-mode: vertical-lr;
        text-orientation: mixed;
        display: flex;
    }

}